html {
  position: relative;

	height: 100%;
}
body {
  text-align: center;
  height: 100%;
}
.main-header {
  padding-bottom: 15px;;
  width: auto;
  background-size: cover;
  background-image: url("images/header.jpg");
  background-attachment: fixed;
  margin-left: 20px;
  padding-right: 20px;
  height: 500px;
}


.header {
  background-color: #2d3436;
  height: 60px;
  font-size: 1.5rem;
  width: auto;
  margin-left: 20px;
  padding-right: 20px;

}

li.bouton_droite {
float : right;
}
li a {
  color: #fff;
  padding: 25px;
  display: inline;
  text-decoration: none;
}


ul {

  margin: 0;
  padding: 0;
}
li {

  list-style: none;
}


.class {

  font-style: #2d3436

}

  float: left;
}

ul#menu_horizontal {
height : 200px;

}

ul#menu_horizontal li {
padding : 15px;
}

li.bouton_gauche {
float : left;

}

.function p{
  color: #000;
}


.main-header img {
  background-image: url("../images/achieve.jpg");
  height: 150px;
  width: 300px;
  background-attachment: fixed;
  position: absolute;
  left: 500px;
  top: 250px;
}

.about {
  margin-left: 20px;
  width: 90%;

}


h1{
  text-align: center;
}

p{
  text-align: justify;
  color: #fff;
}
.function-image {
}

footer {
  margin-left: 20px;
  padding-right: 20px;
  background-color: #353b48;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0
}

footer p{
  text-align: center;
  bottom: 0;
  color :#fff;
  padding-bottom: 0px;
}
